@import url(../../../app/variables.css);

.primary {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--text-dark);
  border: 1px solid var(--text-dark);
}

.danger {
  background-color: red;
  color: var(--text-light);
  font-weight: bold;
}
